<h1>{{pirateName}}</h1>
<h2>Pirate Show Page</h2>
<ul>
    <li>Name: {{pirateName}}</li>
    <li>Birthplace: {{pirateBirthplace}}</li>
    <li>Year of Death: {{pirateExpirationDate}}</li>
    <li>Based in: {{pirateBase}}</li>
    <li>Nickname: {{pirateNommedeguerre}}</li>
</ul>
<br>
<a href="localhost:3000/pirates">Return</a>